{% extends "base_menu.html" %}
{% block content %}

    <h1>Welcome to {{ settings.APP_NAME }}</h1>
    <ul>
        <li><p><a href='/polls'>Polls app</a></p></li>
        <li><p><a href='/hello'>Hello app(cookies)</a></p></li>
        <li><p><a href="/autos">Autos CRUD</a><p></li>
        <li><p><a href="/cats">Cats CRUD</a><p></li>
        <li><p><a href="/ad">Ads CRUD(with accounts)</a><p></li>
    </ul>

{% if user.is_authenticated %}
<a href="{% url 'logout' %}?next={% url 'home:main' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}?next={% url 'home:main' %}">Login</a>
{% endif %}
{% endblock content %}
